<div id="MessagesListView">
    <h2>@Model.Name meassages</h2>
    <div>
        <button onclick="openSendMessage()" class="btn-primary rounded">Send message</button>
    </div>
    <br/>
    <div id="MessagesListContent" class="list-group">
        <a id="prefab" hidden="hidden" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small class="time">3 days ago</small>
            </div>
            <small class="fromto">Donec id elit non mi porta.</small>
        </a>
    </div>
</div>